.card {
  margin-top: auto;
  border-radius: 8px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  border: none;
}
.card-header {
  background-color: #3d3d3d;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
