.card {
  margin-top: auto;
  border-radius: 8px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  border: none;
}
.card-header {
  background-color: #3d3d3d;
  color: #fff;
  border-radius: 8px;
  padding: 15px;
}

.card-text {
  padding: 10px;
}
.custom-card {
  width: 100%;
  border: none;
  margin-top: auto;
  padding: 10px;
}
.custom-card h3 {
  padding: 10px;
  border-bottom: 2px solid black;
}
.custom-card-header {
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

.custom-card-title {
  padding: 10px;
}

.custom-card-text {
  padding: 10px;
}
