.navbar {
  background-color: #3d3d3d;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* border-bottom: 1px solid #fff; */
}

.nav-links {
  font-weight: bold;
  color: #fff;
}

.nav-links:hover {
  color: #fff;
}

.navbar-brand-custom {
  font-size: x-large;
  color: #fff;
}

.navbar-brand-custom:hover {
  color: #fff;
}
.sticky-navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
