/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
body {
  font-family: "Roboto Slab", serif;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.links {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.button {
  padding-top: 5px;
  margin-top: 10px;
  width: 60%;
  padding: 10px 0;
  font-size: 18px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.button:hover {
  background-color: black;
  font-weight: bold;
  color: #fff;
}

.navbar {
  background-color: #3d3d3d;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.password-input {
  position: relative;
}
.password-input .toggle-password {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.card {
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
}
.card-header {
  background-color: #3d3d3d;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nav-links {
  font-weight: bold;
  font-size: large;
}
.navbar-brand-custom {
  font-size: x-large;
  font-weight: bold;
  color: #fff;
}
.navbar-brand-custom:hover {
  color: #fff;
}
.videos-centered {
  margin-left: 10%;
  margin-right: auto;
}
.Search {
  display: flex;
  width: 33%;
}
.standard-form {
  width: 500px;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.standard-form h1 {
  background: #3d3d3d;
  padding: 10px;
  margin: -20px -20px 20px -20px;
  text-align: center;
  color: #fff;
}
 .drop-zone {
  border: 2px dashed #000000;
  border-radius: 10px;
  width: 90%;
  height: 400px;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.drop-zone h2 {
  padding: 30px;
  font-weight: bolder;
}
.upload-form {
  width: 600px;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.upload-form h1 {
  background: #3d3d3d;
  padding: 10px;
  margin: -20px -20px 20px -20px;
  text-align: center;
  color: #fff;
} */
