.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.links {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.footer-link {
  color: #fff;
}
.cursor-pointer {
  cursor: pointer;
}

.coments {
  padding: 10px;
}
.check-replay-box {
  width: 100%;
  padding: 5px;
}
.replay-user {
  font-weight: bold;
  padding: 5px;
}
.subcomments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  padding: 10px;
}
